@import url("./../../App.scss");

.input {
  background-color: var(--main-text);
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-bg);
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.long {
  width: 378px;
}
