.search-product-list {
  position: absolute;
  z-index: 100;
  background-color: var(--main-bg);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

.search-product-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: var(--secondary-bg);
  }
}
