.button-wrapper {
  display: inline;
}

.button {
  background-color: var(--main-bg) !important;
  color: var(--main-text) !important;
  box-shadow: none !important;
  text-transform: none !important;
  margin: 5px !important;

  &:hover {
    outline: none;
    border: none;
    box-shadow: none !important;
  }
}

.button-contained {
  @extend .button;
  &:hover {
    background-color: var(--error) !important;
    color: var(--main-text) !important;
  }
}

.button-outlined {
  border: 1px solid var(--main-text) !important;
  color: var(--main-text) !important;
  &:hover {
    border: 1px solid var(--error) !important;
    color: var(--main-text) !important;
  }
}
