.header {
  padding: 16px;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo {
  cursor: pointer;
}

.drawer-content {
  background-color: var(--main-bg);
  width: 400px;
  height: 100%;
  padding: 24px;
}

@media screen and (max-width: 780px) {
  .drawer-content {
    width: 270px;
  }
}
