.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--main-text);
  margin-left: 20px;
}

.buttons {
  margin-top: 10px;
  margin-right: 10px;
}
