.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  margin-right: 10px !important;
}

.logo {
  margin-left: 20px;
}

.buttons {
  margin-top: 10px;
  margin-right: 10px;
}
