:root {
  --main-bg: #0a1929;
  --secondary-bg: #001e3c;
  --border: #173a5e;
  --main-text: #e4e4e4;
  --success: #78cece;
  --error: #f53d56;
  --warning: #f9c846;

  --h1-fs: 27px;
  --h2-fs: 20px;
  --h3-fs: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
